{% load static %}
<html>
    <head>
        <style>
            .infernologo {
            width: 130px;
            position: absolute;
            top: 30px;
            right: 30px;
            }
            .srmlogo {
                width: 300px;
                position: absolute;
                top: 30px;
                left: 30px;
            }
        </style>
    </head>
    <body>
        <img src="{% static 'assets/SRM_Logo.png' %}" alt="SRMIST" class="srmlogo">
        <img src="{% static 'assets/Inferno_Logo.png' %}" alt="Club Inferno" class="infernologo">
    </body>
</html>
